@page
@using Microsoft.AspNetCore.Http
@using Utility.Helpers
@model Application.Areas.Application.Pages.Software.CreateApiKeyModel
@{
    ViewData["Title"] = "ساخت توکن";
    Layout = "_LayoutPanel";
}

@section Styles
{
    <link href="~/panel/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/panel/css/plugins/jsTree/default/style.min.css" rel="stylesheet" />
    <link href="~/panel/css/plugins/jsTree/default-dark/style.min.css" rel="stylesheet" />
    <link href="~/panel/css/plugins/codemirror/codemirror.css" rel="stylesheet" />
    <link href="~/panel/css/plugins/codemirror/ambiance.css" rel="stylesheet" />
    <link href="~/panel/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-4 col-lg-4">
        <h2>ساخت توکن</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">مدیریت برنامه ها</a>
            </li>
            <li class="active">
                <strong>ساخت توکن</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="title-action">
                <button id="btnGenerateNewApiKey" class="btn btn-info float-l">
                    تولید ApiKey جدید
                </button>
            <a asp-page="List" class="btn btn-info float-l">بازگشت به لیست</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ساخت توکن برای نرم افزار @Model.SoftwareModel.FaName در هومت</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label m-t-7">SoftwareId</label>
                                    <div class="col-sm-10">
                                        <div class="input-group m-b">
                                            <span class="input-group-btn">
                                                <button id="btnId" type="button" class="btn btn-primary btnCopy"
                                                        data-clipboard-target="#SoftwareModel_Id">
                                                    <i class="fa fa-copy"></i>
                                                </button>
                                            </span>
                                            <input type="text" readonly="readonly" asp-for="SoftwareModel.Id"
                                                   class="text-navy font-bold form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label m-t-7">ApiKey</label>
                                    <div class="col-sm-10">
                                        <div class="input-group m-b">
                                            <span class="input-group-btn">
                                                <button id="btnApiKey" type="button" class="btn btn-primary btnCopy"
                                                        data-clipboard-target="#SoftwareModel_ApiKey">
                                                    <i class="fa fa-copy"></i>
                                                </button>
                                            </span>
                                            <input type="text" readonly="readonly" asp-for="SoftwareModel.ApiKey"
                                                   class="text-navy font-bold form-control" value="@(string.IsNullOrWhiteSpace(Model.SoftwareModel.ApiKey)?"تاکنون تولید نشده":Model.SoftwareModel.ApiKey)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <p>
                                    با استفاده از ApiKey و SoftwareId بالا می توانید
                                    از تمامی اطلاعات گروه ها، دسترسی ها و کاربران استفاده نمایید.
                                </p>
                                <div dir="ltr">
                                    <textarea id="pnlCode">
<script>
    var response = fetch("/api/Software/GetPermission",
    {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'ApiKey': '@(string.IsNullOrWhiteSpace(Model.SoftwareModel.ApiKey)?"تاکنون تولید نشده":Model.SoftwareModel.ApiKey)',
            'SoftwareId': '@(Model.SoftwareModel.Id)'
        },
        body: JSON.stringify(REQUIRE_DATA)
    }).then(() => {
        setTimeout(() => { window.location.href = "https://YOUR_Domain.com" }, 6000);
    }).catch(() => {
        alert('با مشکل مواجه شد.', 'خطا');
    });
</script>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon navy-bg">
                                        <i class="fa fa-plus-circle"></i>
                                    </div>
                                    <div class="vertical-timeline-content">
                                        <h2>تولید ApiKey</h2>
                                        <p>
                                            در صورتی که تاکنون ApiKey برای فراخوانی و مدیریت اطلاعات خود ایجاد ننموده اید 
                                            با استفاده از گزینه ی <strong>تولید ApiKey جدید</strong> می توانید یک کلید جدید
                                            ایجاد کنید و آن را در فراخوانی توابع موجود در هومت استفاده نمایید.
                                        </p>
                                        <span class="vertical-date">
                                            دقت داشته باشید در صورتی که قبلا کلید ApiKey را دریافت کرده و در نرم افزار ها و سرویس های خود استفاده نموده اید با انتخاب گزینه ی 
                                            <strong>تولید ApiKey جدید</strong> کلید قبلی شما از بین می رود و نرم افزار ها و سرویس ها در حال استفاده قادر به دریافت
                                            اطلاعات از سرور های هومت نمی باشند.
                                            در استفاده از این امکان بسیار دقت نمایید تا از قعطی نا خواسته و بروز مشکلات ناشی از عدم احراز هویت کاربران جلو گیری شود.<br />
                                            <small>مطالب را کامل مطالعه کنید.</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @(await Html.PartialAsync("_ValidationScriptsPartial"))
    <script src="~/panel/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/panel/js/plugins/jsTree/jstree.min.js"></script>
    <script src="~/panel/js/plugins/nestable/jquery.nestable.js"></script>
    <script src="~/panel/js/plugins/clipboard/clipboard.min.js"></script>
    <script src="~/panel/js/plugins/codemirror/codemirror.js"></script>
    <script src="~/panel/js/plugins/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/panel/js/plugins/toastr/toastr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            CodeMirror.fromTextArea(document.getElementById("pnlCode"), {
                lineNumbers: true,
                matchBrackets: true,
                styleActiveLine: true,
                readOnly: true
            });
            new Clipboard('.btnCopy');

            $('#btnGenerateNewApiKey').on('click',
                function() {
                    swal({
                            title: "آیا از تولید ApiKey جدید اظمینان دارید؟",
                            text: "شما با تولید کلید جدید نرم افزار هایی که از ApiKey فعلی استفاده می کنند را از کار خواهید انداخت.",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "بله اطمینان دارم!",
                            cancelButtonText: "خیر منصرف شدم!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                fetch("/api/Software/UpdateApiKey",
                                    {
                                        method: 'POST',
                                        headers: {
                                            'Accept': 'application/json',
                                            'Content-Type': 'application/json',
                                            'Security-Token': '@(HttpContext.Session.GetString("Token"))',
                                            'ApiKey': '@(Cryptography.GenerateApiKey())',
                                            'SoftwareId': '@(Model.SoftwareModel.Id)'
                                        }
                                    });
                                swal("تولید ApiKey جدید!", "عملیات با موفقیت انجام شد.", "success");
                                setTimeout(() => { location.reload() }, 2000);
                            }
                            else{
                                swal("لغو عملیات!", "تولید ApiKey جدید لغو شد.", "info");
                            }
                        });
                });

            $('#btnApiKey').on('click',
                function () {
                    toastr['success']('کلید در حافظه سیستم کپی شد.', 'پیام');
                });
            $('#btnId').on('click',
                function () {
                    toastr['success']('شناسه نرم افزار در حافظه سیستم کپی شد.', 'پیام');
                });
        });
    </script>
}